<ion-content>
<ion-text id="text" >Wann willst du schlafen?</ion-text>
<ion-text id="text1" >An</ion-text>
<ion-text id="text2" >An</ion-text>
<ion-icon [routerLink]="['/homescreen']" id="icon2" name="arrow-back-outline"></ion-icon>
<ion-item id="date1" >
  <ion-label id="Werktagen" >Werktage</ion-label>
  <ion-datetime displayFormat="HH:mm"></ion-datetime>
</ion-item>
<ion-item id="date2" >
  <ion-label id="Wochenenden" >Wochenenden</ion-label>
  <ion-datetime displayFormat="HH:mm"></ion-datetime>
</ion-item>
</ion-content>
