<ion-content>
<ion-input placeholder="Name" type="text" id="Name"></ion-input>
<ion-input placeholder="E-mail" type="e-mail" id="E-mail"></ion-input>
<ion-input placeholder="Passwort" id="Passwort" type="password"></ion-input>
<ion-checkbox id="Checkbox"></ion-checkbox>
<ion-button id="AGB" >Ich habe die Allgemeinen Geschäftsverordnungen gelesen.</ion-button>
<ion-icon [routerLink]="['/anmelden-und-registrieren']" id="icon2" name="arrow-back-outline"></ion-icon>
<ion-button [routerLink]="['/homescreen']" id="Button">Registrieren</ion-button>