ion-content{
    --background: none;
    background-image: url('../../assets/background/erinnerung.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
  }

  ion-text{
    font-family: Ribeye !important;
    font-size:large;
    --color: black;
  }

  ion-button{ 
    font-family: Ribeye !important;
    font-size:large;
    color: rgb(255, 255, 255);
    --background: rgba(173, 138, 138, 0);
    --height: 40%;
    width: 60%;


    
  }

  #sechs{
  font-family: Ribeye;
  position: absolute;
  color:white;
  left: 15%;
  top: 9.5rem;
  font-size:20pt;
  }

    #vier{
  color:white;
  position: absolute;
  left: 15%;
  top: 16.5rem;
  font-size:20pt;
  }

    #drei{
        color:white;
  position: absolute;
  left: 15%;
  top: 23.5rem;
  font-size:20pt;
  }

    #zwei{
        color:white;
  position: absolute;
  left: 15%;
  top: 30.5rem;
  font-size:20pt;
  }

    #eins{
        color:white;
  position: absolute;
  left: 15%;
  top: 37.5rem;
  font-size:20pt;
  }

 #sechs1{
     color:white;
  position: absolute;
  left: 65%;
  top: 9.9rem;
  font-size:20pt;
  }

    #vier1{
        color:white;
  position: absolute;
  left: 65%;
  top: 16.9rem;
  font-size:20pt;
  }

    #drei1{
        color:white;
  position: absolute;
  left: 65%;
  top: 23.9rem;
  font-size:20pt;
  }

    #zwei1{
        color:white;
  position: absolute;
  left: 65%;
  top: 30.9rem;
  font-size:20pt;
  }

    #eins1{
        color:white;
  position: absolute;
  left: 65%;
  top: 37.9rem;
  font-size:20pt;
  }

#text{
          color:white;
  position: absolute;
  left: 13%;
  top: 3.9rem;
  font-size:17pt;
}