
<ion-content>
<ion-text id="text" >Erinnerung vor der Schlafenszeit</ion-text>
<ion-text id="sechs" >60min vorher</ion-text>
<ion-text id="vier" >45min vorher</ion-text>
<ion-text id="drei" >30min vorher</ion-text>
<ion-text id="zwei" >20min vorher</ion-text>
<ion-text id="eins" >15min vorher</ion-text>
<ion-icon id="sechs1" name="star-outline"></ion-icon>
<ion-icon id="vier1" name="star"></ion-icon>
<ion-icon id="drei1" name="star-outline"></ion-icon>
<ion-icon id="zwei1" name="star-outline"></ion-icon>
<ion-icon id="eins1" name="star"></ion-icon>
</ion-content>
