<ion-content>
  <ion-grid>
   
    <ion-col size="0.5"></ion-col>
  
   <ion-row><p><ion-text id="text1" color="light">Sleep Enough wurde in einer AG des Wim Wenders Gymnasiums erstellt. Bitte sendet uns Feedback, damit wir die App stetig verbessern können. </ion-text></p></ion-row>
  
  <ion-icon [routerLink]="['/tutorial4']" id="icon2" name="arrow-back-outline"></ion-icon>
  <ion-icon [routerLink]="['/tutorial6']" id="icon3" name="arrow-forward-outline"></ion-icon>
  </ion-grid>
  </ion-content>