<ion-content>

<ion-content fullscreen="true">
    <div id="container"> 
  <ion-text id="Text1" color="light">Empfehlungen:</ion-text>
  <ion-text id="Text2" color="light">10-13 Jahre 9-11h</ion-text>
  <ion-text id="Text3" color="light">14-17 Jahre 8-10h</ion-text>
  <ion-text id="Text4" color="light">18-64 Jahre 7-9h</ion-text>
  <ion-text id="Text5" color="light">65-99 Jahre 5-6h</ion-text>
    </div>
    <ion-icon id="back" name="arrow-back" [routerLink]="['/homescreen']"></ion-icon>
  </ion-content>
