<ion-content>
<ion-icon id="einstellung" [routerLink]="['/homescreen']" name="settings-outline"></ion-icon>
<ion-icon id="feedback" name="chatbubble-ellipses-outline"></ion-icon>
<ion-text [routerLink]="['/sufstehzeit']" id="aufstehzeit" >Aufstehzeit</ion-text>
<ion-text [routerLink]="['/einschlafzeit']" id="einschlafzeit">Einschlafzeit</ion-text>
<ion-text id="Wecker" >Wecker</ion-text>
<ion-text [routerLink]="['/erinnerung']" id="Erinnerung" >Erinnerung</ion-text>
<ion-text id="Empfehlung" [routerLink]="['/schlafempfehlung']"  >Empfehlung</ion-text>
<ion-text [routerLink]="['/statistik']"id="Statistiken" >Statistiken und Punkte</ion-text>
</ion-content>
