<ion-content>
  <ion-text color="light" id= "Wecken">Wann willst du aufstehen bzw. geweckt werden? </ion-text>
  <ion-text color="light" id= "Text1">Unter der Woche: </ion-text>
  <ion-item id="date1" >
    <ion-label id="Werktage" >Werktagen</ion-label>
    <ion-datetime displayFormat="HH:mm"></ion-datetime>
  </ion-item>
  <ion-text color="light" id= "Text2">Am Wochenende: </ion-text>
  <ion-item id="date2" >
    <ion-label id="Wochenenden" >Wochenenden</ion-label>
    <ion-datetime displayFormat="HH:mm"></ion-datetime>
  </ion-item>
  <ion-icon color="light" [routerLink]="['/homescreen']" id="icon2" name="arrow-back-outline"></ion-icon>



</ion-content>